<!doctype html>
<html>
  <body>
    <center>
      <table>
	<tr>
	  <td>
	    <b>chiave</b>
	  </td>
	  <td>
	    <b>valore</b>
	  </td>
	</tr>

	{% for key in data %}

	<tr>
	  <td>
	    <b> {{ key }}</b>
	  </td>
	  <td>
	    <b> {{ data[key] }} </b>
	  </td>
	</tr>
	
	{% endfor %}
      </table>
    </center>
  </body>
</html>
